.location-page{
    width: 50vw;
    height: 55vh;

    .loading-placeholder,
    .error-message{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 1200px) {
    .location-page{
        width: 80vw;
    }
}