.content-container{
    display: flex;
    flex-direction: column;

    height: 100vh;
    box-sizing: border-box;

    padding: 100px;
}

@media (max-width: 1000px) {
    .content-container{
        height: auto;
        box-sizing: unset;
    }
}

@media (max-width: 700px){
    .content-container{
        padding: 100px 50px;
    }
}